html {
  scroll-behavior: smooth;
}
:root {
  --bg-primary:  #172774;
  --accent-primary: #ff0075;
  --accent-secundary: #77d970;
  --base-primary: #fff;
}

.containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.content {
  max-width: 1024px;
  width: 100%;
}