html {
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--base-primary);
}

:root {
  --bg-primary: #311625;
  --accent-primary: #ff0075;
  --accent-secundary: #efba59d3;
  --base-secundary: #e99f16;
  --base-primary: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content {
  max-width: 1280px;
  width: 100%;
  padding: 0 16px;
}

/* HEADER */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
}

.logo {
  font-size: 36px;
  font-weight: 800;
}

.header-nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

/* HERO */

/* LEFT SECTION */

.btn-primary {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 16px;
  color: var(--accent-primary);
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  border: var(--accent-primary) 2px solid;
  border-radius: 8px;
  text-shadow: 0 0 4px hsl(0 0% 100% / 0.5), 0 0 10px var(--accent-primary);
  box-shadow: inset 0 0 16px 0 var(--accent-primary), 0 0 16px 0 var(--accent-primary);
  transition: background-color 100ms linear;
}

.btn-primary::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 120%;
  background-color: var(--accent-primary);
  transform: perspective(80px) rotateX(45deg) scale(1, 0.5);
  filter: blur(24px);
  opacity: 0.6;
  transition: opacity 100ms linear;
  pointer-events: none;
}

.btn-primary::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--accent-primary);
  box-shadow: 0 0 32px 8px var(--accent-primary);
  opacity: 0;
  transition: opacity 100ms linear;
  z-index: -1;
}

.btn-primary:hover,
.btn-primary:focus {
  outline: none;
  color: var(--bg-primary);
  text-shadow: none;
}

.btn-primary:hover::after,
.btn-primary:focus::after {
  opacity: 1;
}

.btn-primary:hover::before,
.btn-primary:focus::before {
  opacity: 1;
}

.btn-right {
  margin-top: 24px;
}

.hero {
  margin-top: 36px;
}

.scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 28px;
  font-weight: 900;
}

.scores {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.score-list {
  width: 100%;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 64px;
  align-self: center;
  border: var(--accent-secundary) 2px solid;
  font-size: 18px;
}

.score-unit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
}

.score-unit:nth-child(even) {
  background-color: var(--accent-secundary);
  color: var(--bg-primary);
}

/* RIGHT SECTION */

.add-score-form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.add-score-label {
  width: 100%;
  padding: 12px;
  border: var(--accent-secundary) 2px solid;
  margin: 8px 0;
}

.add-score-input {
  width: 100%;
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: var(--base-secundary);
}

::placeholder {
  color: var(--accent-secundary);
}

.add-score-input:focus {
  outline: none;
}

.notice {
  opacity: 0;
  transition: all 0.5s ease 0s;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 24px 36px;
  font-size: 24px;
  border-top: 2px solid var(--base-secundary);
}
